<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/contact.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <nav id="navbar">

        <div id="logo">
          <img src="/css/messifcb.jpg" alt="Talha Zahid">
        </div>
        <ul>
          <li class="item"><a href="/articles/welcome">Welcome</a></li>
          <li class="item"><a href="/articles/specialfeatures">Special Features</a></li>
          <li class="item"><a href="/articles/supersports">Super Sports</a></li>
          <li class="item"><a href="/articles/contact">Contact Page</a></li>
        </ul>
      </nav>


      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://wallpaperaccess.com/full/2604748.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>



    <div class="container-fluid">



        <div class="row">

            <div class="col-md-12 col-lg-6 col-sm-12 col-xls-12 ">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xls-12">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 col-sm-12 col-xls-12">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xls-12">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xls-12">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">Sign in</button>
                </form>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-12 col-xls-12 ">

                <div class="card" style="width: 18rem;">
                    <img width="200px" height="170px" class="card-img-top" src="https://d1e00ek4ebabms.cloudfront.net/production/420e7555-72a1-4843-8326-26e602b3700e.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Football Articles</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>



            </div>

            <div class="col-md-6 col-lg-3 col-sm-12 col-xls-12  ">

                <div class="card" style="width: 18rem;">
                    <img  width="200px" height="200px" class="card-img-top" src="https://www.cricket.com.au/-/media/News/2021/10/25RizwanAzam.ashx" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rugby Articles</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>



            </div>



        </div>

        </div>

        <footer class="footer">
            <div class="section-center">
              <div  class="social-icons">
                <!-- social icon -->
                <a style="margin: 30px ;" href="https://www.facebook.com/"><i class="fa fa-facebook-square" style="font-size:35px;color:rgb(12, 12, 82);"></i></a>
                <!-- end of social icon -->
                <!-- social icon -->
                <a style="margin: 30px ; ;" href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram" style="font-size:35px;color:rgb(168, 8, 8);"></i></a>
                <!-- end of social icon -->
                <!-- social icon -->
                <a style="margin: 30px ;" href="https://www.youtube.com/"><i class="fa fa-youtube-play" style="font-size:35px;color:rgb(231, 4, 4);" href="https://www.google.com/"></i></a>
                <!-- end of social icon -->
              </div>
              <p class="footer-text">
               <span style="color: rgb(255, 255, 255);"><strong>Best Sports Blogs</strong> </span> 
              </p>
            </div>
          </footer>
        




</body>
</html>